.contact-us-text { 
    width: 40%;
    margin: auto;
  }

.contact-us-form label { 
    display: block;
    margin-top: 10px;
}

.contact-us-form ul { 
    font-size: 14px;
}

.contact-us-form input {
    width: 100%;
    margin-top: 5px;
}


.contact-us-form textarea { 
    width: 100%;
    margin-top: 5px;
    height: 300px;
}

#submitbutton { 
    float: right;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;

}