.container-delivery { 
    width: 50%;
    margin: auto;
}

legend { 
  font-weight: 700;
}

input[type=text] {
    padding:5px;
    margin: 10px;
    border:black 1px solid;
  }

  

  .delivery h1{ 
    border-bottom: 3px #fea621 solid;
  }

  .delivery p {
    padding: 0;
    margin: 0;
  }
  .shipping-price{ 
    color: red;
    font-weight: 700;
  }
  
  .delivery div {
    margin-bottom: 20px;
  }

  .free-shipping { 
    color: green;
    font-weight: 700 ;
  }

  .delivery i { 
    font-size: 20px;
  }

  .payment-flex {
    display: flex;
    align-items: center;
    background-color: #0806010e;
}

.payment-flex input[type="checkbox"] {
    margin-right: 10px; /* Adjust spacing between checkbox and label if needed */
}

.paymentbtn { 
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.btn-complete {
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
}