.footer-container {
  width: 100%;
  background-color: #1e2651;
  margin-top: 100px;
  height: 200px;
}

.footer-flex {
  margin: auto;
  color: white;
  flex-wrap: wrap;
}

footer a { 
  color: white ;
  font-weight: bold;
}

footer a:hover { 
  text-decoration: underline 2px solid #fea621;
}

.footer-flex-items {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  padding: 10px;
}

.social-media-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
.social-media-footer img {
  width: 35px;
  height: 35px;
}

@media (max-width: 700px) {
  .footer-flex-items {
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
}
