p {
  font-size: 1rem;
}

.gridItem1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.548);
}

.gridItem1-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-left: 10px white solid;
  background-image: linear-gradient(rgba(34, 33, 33, 0.8), rgba(2, 2, 2, 0.521)), url(/Images/Gamehub-Sales.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-image {
  width: 50%;
  background-image: url(/Images/gamehub-store.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-btn {
  background-color: #fea621;
  color: #000000;
  font-size: 20px;
  padding: 10px 40px 10px 40px;
  font-weight: 600;
  align-self: center;
  text-transform: uppercase;
  cursor: pointer;
}

.header-btn:hover {
  background-color: #050711;
  color: #fea621;
}
/* content 1 */

.gamehub-header {
  color: #fdfdfd;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}

.salesheader {
  color: #fea621;
  text-transform: uppercase;
}

.summerdeals {
  color: white;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

/* content 2 */

.flex-container-item-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

.griditem-2 {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 250px;
  background-image: linear-gradient(rgba(10, 4, 4, 0.5), rgba(5, 5, 5, 0.5)),
    url(/images/gamehub.jpg);
  background-position: right;
}

.h2header-marketplace {
  font-size: 24px;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  font-weight: 700;
}

.p-header-marketplace {
  color: rgb(252, 250, 250);
  margin: 0px 0px 0px 20px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 20px;
}


/* content 3 */

.griditem-3 {
  width: 100%;
  flex: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 250px;
  background-image: linear-gradient(rgba(10, 4, 4, 0.5), rgba(5, 5, 5, 0.5)),
    url(/images/gamehubclub.jpg);
  background-size: 100%;
}

.h2header-club {
  color: white;
  font-size: 24px;
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.p-header-marketplace-item3 {
  margin: 0;
  color: white;
  margin-left: 10px;
  padding-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.header-btn-content3 {
  background-color: #000000;
  padding: 10px 30px;
  color: #fea621;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Dosis";
  font-weight: 600;
  border: 1px rgba(255, 255, 255, 0.342) solid;
  border-radius: 5px;

}

.header-btn-content3:hover {
  background-color: #fea621;
  color: black; 
}


#Gamehub-yellow {
  color: #fea621;
  font-weight: bold;
}

/* content 4 */

.item-4 {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: #fdfdfd;
  font-weight: bold;
  height: 100px;
  align-items: center;
  background: rgb(254,166,33);
background: linear-gradient(140deg, rgba(254,166,33,1) 0%, rgba(0,0,0,1) 5%, rgba(0,0,0,1) 95%, rgba(254,166,33,1) 100%);
}

.flex-item p { 
  margin: 0;
}

.flex-item i { 
  color: #fea621
}


/* content 5 */

.flex-container-item-5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.item-5 {
  display: flex;
  width: 100%;
  height: 250px;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  flex: 250px;
  background-color: black;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30%;
}

.item-5 h3 {
  color: white;
  font-size: 38px;
  font-weight: 600;
}
.item-5 p {
  margin: 5px;
  color: white;
}

.item-5-coming-soon-p {
  font-weight: 600;
  font-style: italic;
  padding-bottom: 20px;
}

.releasedate-color {
  color: red;
}

.racing-btn {
  margin-top: 10px;
}

/* content 6 */
.item-6 {
  display: flex;
  flex: 250px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  color: white;
  background: rgb(254,166,33);
background: linear-gradient(344deg, rgba(254,166,33,1) 5%, rgba(0,0,0,1) 61%);
justify-content: center;
}

.pcbuild-h2 {
  text-transform: uppercase;
}

.PC-btn {
  background-color: #00d1ff;
  margin: 30px 0px 0px 250px;
  padding: 10px 30px 10px 30px;
  font-size: 16px;
  border: solid white 1px;
  box-shadow: 1px 1px 1px 1px white;
  text-transform: uppercase;
  font-family: "Dosis";
  font-weight: 600;
}

.popularnowdivider {
  border-top: 2px solid rgb(201, 201, 201);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}

.grid-item8-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
}

.item-8 {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(255, 254, 254);
}

.item-8:hover {
  border-top: 5px #fea621 solid;
}

.item8-image {
  border-radius: 0px 0px 20px 20px;
  width: 100%;
}

.item-8 h4 {
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
}

.item-8 p {
  font-size: 18px;
  margin-top: 10px;
  color: black;
  padding: 0;
}

.item-8 h4 {
  padding-bottom: 5px;
}

.price-grid-item8 {
  background-color: rgb(247, 247, 247);
  height: 75px;
}

.flex-wrapper-deluxe {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-height: 100vh;
  height: 100%;
}

.carousel {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 2;
}

.slide {
  position: absolute;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1;
  width: 100%;
  z-index: 1;
}

.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 5rem;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 0.25rem;
  color: #fea621;
  background-color: rgba(0, 0, 0, 0.74);
}

.carousel-button:hover,
.carousel-button:focus {
  color: #fea621;
  background-color: #030303e0;
}

.carousel-button:focus {
  outline: 1px solid #fea621;
}

.carousel-button.prev {
  left: 1px;
}
.carousel-button.next {
  right: 1px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background: linear-gradient(rgba(10, 4, 4, 0.5), rgba(5, 5, 5, 0.5)), url(/Images/xbox-gamehub.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item img {
  width: 100%;
}
.playbox-text {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  justify-content: start;
  font-weight: 600;
}

.playbox-btn {
  color:#fea621; 
  width: 80%;
  margin: auto;
  padding: 20px 10px 20px 10px;
  background-color: black;
  text-transform: uppercase;
}

.playbox-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.percentage-colour {
  color: red;
}

.hero-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.719);
}

.hero-text {
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background: linear-gradient(
    344deg,
    rgba(8, 8, 8, 0.74) 24%,
    rgba(0, 0, 0, 1) 76%
  );
  font-weight: 600;
}

.hero-image {
  background-image: url(/Images/MaceWinduGamehub.jpg);
  height: 400px;
  background-color: black;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-image-cta {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-image-cta-store {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-link {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
}

.hero-link-store {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100%;
}

.register-btn {
  color: #fea621;
  font-weight: 600;
  padding: 20px 20px 20px 20px;
  font-size: 18px;
  text-transform: uppercase;
}

.releases {
  color: #fea621;
  margin: 0;
  padding: 0;
}

.releases-white { 
  color: white; 
}

.release-gamehub {
  margin: 5px;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 1000px) {
  .gridItem1 {
    flex-direction: column-reverse;
  }

  .header-image {
    width: 100%;
    height: 200px;
  }

  .summerdeals {
    padding: 5px;
  }

  .gridItem1-text {
    width: 100%;
    height: 200px;
    padding: 5px;
    border-left: 0;
    border-bottom: 2px solid white;
  }

  .hero-image-cta-store {
    height: 200px;
  }
  
  .item-4 { 
    justify-content: space-around;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .carousel-item img {
    display: none;
  }

  .carousel-button {
    font-size: 2rem;
  }
}
