.grid-item8-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.item-8 {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(255, 254, 254);
  height: 325px;
  
}

.item-8:hover {
  border-top: 5px #fea621 solid;
}

.item8-image {
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: 250px;
}

.item-8 h4 {
  font-size: 14px;
  color: black;
  margin: 0;
  padding: 0;
}

.item-8 p {
  font-size: 18px;
  margin-top: 10px;
  color: black;
  padding: 0;
}

.item-8 h4 {
  padding-bottom: 5px;
}

.price-grid-item8 {
  background-color: rgb(247, 247, 247);
  height: 75px;
}

.flex-wrapper-deluxe {
  width: 50%;
  margin: auto;
  margin-top: 25px;
}


.carousel { 
  width: 100%;
  height: 400px;
  position: relative; 
}


.slide { 
  position: absolute;
  opacity: 0;
}

.slide[data-active] {
  opacity: 1; 
  width: 100%;
}

.slide > img { 
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button { 
  position: absolute;
  background: none; 
  border: none; 
  font-size: 4rem;
  top:50%; 
  z-index: 2;
  transform: translateY(-50%);
  color: rgba(255,255,255, .5);
  cursor: pointer; 
  border-radius: .25rem; 
  padding: 0 .5rem; 
  background-color: rgba(0,0,0, .1);
}

.carousel-button:hover,
.carousel-button:focus { 
color: white;
background-color: rgba (0, 0, 0, .2);
}

.carousel-button:focus { 
  outline: 1px solid black; 
}

.carousel-button.prev { 
  left: 1rem;
}

.carousel-button.next { 
  right : 1rem;
}

.gridItem1-text{ 
  background-image: url(/Images/Gamehub.jpg);
}

.randomImage{ 
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #1e2651;
}

.releases { 
  padding: 20px;
  color: #fea621;
} 

.carousel-item { 
  width: 100%;
  height: 400px;
}