.gaming-container {
  display: flex;
}


.product-description {
  margin: auto;
  text-align: center;
  padding: 20px;
}

.product-price {
  font-weight: 600;
  color: red;
  font-size: 22px;
}

.container-back {
  margin: 25px 0 25px 0;
}

.back {
  margin: auto;
}

.back-paragraph {
  font-size: 18px;
  width: 100px;
  background-color: black;
  text-align: center;
  padding: 5px;
  color: #fea621;
  cursor: pointer;
}

.cart-btn {
  background-color: #1e2651;
  color: #fea621;
  padding: 10px 50px 10px 50px;
  font-size: 20px;
}

.addtocart-btn {
  width: 50%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  display: block;
  background-color: #000000;
  color: #fea621;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.addtocart-btn:hover { 
  background-color: #0f0f0fb4;
}

.checkout-btn {
  width: 50%;
  margin: auto;
  font-size: 20px;
  padding: 10px;
  display: block;
  background-color: #fea621;
  color: #000000;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
}

.checkout-btn:hover { 
  background-color: #fea62160;
}

.image-container {
  display: flex;
  justify-content: center;
    width: 400px;
    padding: 20px;

}

.product-image {
  width: 100%;
  align-self: center;
}

.gaming-container { 
display: flex;
align-items: center;
}

@media (max-width: 1000px) {
  .checkout-btn,
  .addtocart-btn {
    width: 90%;
  }

  .gaming-container {
    flex-direction: column;
  }

  .text-container {
    padding-bottom: 20px;
  }
}
