
/* general styling */

body {
    width: 100%;
    font-family: "Raleway";
    margin: auto;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
    
}

a:hover {
    background-color: #e9eaee;
    border: solid 0px rgb(104, 100, 100);
}

/* Mini-header */

.wrapper {
    width: 100%;
    background-color: rgb(7, 7, 7);
    margin-top: 0%;
    }
    

.mini-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: black;
    color: white;
    text-align: center;
    align-items: flex-start;
}

#rightcorner-gamehub {
    flex-basis: 10%;
    justify-content: end;

}

/* Header */

#header { 
    width: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E2651;
}

#hubcoloration {
    color: #FEA621;
}

#GamecolorationGame {
    color: #1E2651;
}

.account-icons {
    font-size: 32px;
    padding: 30px;
}


.logoheader {
    flex: 0;
    width: 200px;
    height: 100px;


}
.searchbar { 
    flex-basis: 40%;
}

.search {
    padding: 10px;
    width: 80%;
    

}
.fa-magnifying-glass {
    align-items: center;
    line-height: 14px;
    background-color: white;
    border-radius: 3px;
    padding: 10px 12px 13px 12px;
    margin-left: 100px;
    border: solid 1px rgb(126, 125, 125);
}

/* Navigation*/

#navbar {
    min-width: 100%;
    display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    margin: 0px 0px 20px 0px;
    background-color: #FEA621;
    border: solid 2px #FEA621;
}

#navbar a {
    padding: 10px 50px 10px 50px;
    
}


/* main page */

.header {
    width: 60%;
    margin: auto;
    background-color: #aaaaaa;
    text-align: center;
    border-radius: 25px;
    

}

.textheader {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-image: url(Images/Gamehub.jpg); 
    background-size:cover;
    height: 600px;
    max-height: 800px;
    color: white;
    font-size: 3em;
    background-color: rgb(231, 159, 231);
    background-blend-mode: multiply;
    border-radius: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgb(83, 83, 83);

}

#gamehub-textheader {
    flex: 0; 
    font-family: "Dosis";
}

#sales-textheader {
    flex: 1; 
    font-family: "Laila";
    color: #FEA621;
}

.buttonheader {
    flex: 0;
    align-items: center;
    font-size: 28px;;
    cursor:pointer;
}

/* Main page 2nd element */

.flex-container-1 {
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr;
    width: 60%;
    margin: 0 auto;
    gap: 2em;
}

.gamehub-marketplace {
    background-image: url(Images/Gamehubpicture.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 60%;
    gap: 2em; 
    height: 360px;
    color: white;
    font-size: 32px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(83, 83, 83);
    text-align: center;
}

.Gamehub-club {
    background-image: url(Images/gamehubclubfoto.png);
    background-size: 100%;
    background-color: rgb(235, 42, 235);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px 2px rgb(83, 83, 83);
    gap: 2em; 
    height: 360px; 
    color: white;
    font-size: 32px;
    border-radius: 10px;
    text-align: center;
}

.Gamehub-club h2, .gamehub-marketplace h2 {
    background-color: #1E2651;
    padding: 20px;
}
.Gamehub-color {
    color: #FEA621;
    font-weight: bold;

}
/* Divider homepage */

.flex-container2 {
    display: flex;
    margin: auto;
}

.flex-items {
    font-size: 18px; 
    
}

.flex-item {
    justify-content: center;
    align-items: center;
    border-top: solid black 2px; 


}

.flex-icons {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 2px; 
    align-items: center;
}

.flex.icon {
    flex: 1;
    
}

.buttonheader {
    width: 200px;
    color: white;
    background-color: red;
    text-align: 	center;
}


/* Contact page */

.contact-us-text {
    padding-top: 50px;
    width: 40%;
    margin: auto;
}

.contact-us-text h1  {
    border-top: #FEA621 6px solid;
    padding-top: 40px;
}


.form { 
    width: 40%;
    margin: auto;
    font-family: "Raleway";
    
}

#label {
    display: block;
    width: 80%;
    margin: 10px 0px 0px 0px; 
    font-family: "Raleway";
}

#label1 {
width: 50%;
background-color: #F8F5F5;
font-family: "Raleway";

}
#textarea { 
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 300px;
    background-color: #F8F5F5;
    font-family: "Raleway";
}

.submitbutton {
    float: right;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;

}

.submitbutton:hover {
    padding: 10px 30px 10px 30px;
    background-color: #1E2651;
    color: #FEA621;

}


/* Product pages */


.flex-container-games {
    width: 60%;
    margin: 0 auto;
}

.header-games {
    flex: 0;
    border-bottom: #FEA621 3px solid;
    margin-bottom: 45px;
}

.games-found {
    flex: 1;
    border-bottom: #FEA621 3px solid;
}

.flex-items {
    display: flex;
    align-items: center;
}

.nav-games-page {
    text-decoration: none;
    list-style: none;
    display:flex;
    flex-basis: content;

}

.category-text {
    flex: 1;
    padding: 15px;
    border-right: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.category-text1 {
    flex: 2;
    padding: 15px;
    border: solid 2px black;
}

.category-text:hover, .category-text1:hover  {
background-color: #aaaaaa;

}

.category-text:active, .category-text1:active  {
    background-color:#FEA621
    
    }

.container-productpage {
width: 60%;
margin: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 50px;

}

.item-product-page {
    flex-direction: column;
    font-family: "Raleway";
    margin-top: 50px;;
    border: solid 1px rgb(153, 153, 153);
    padding-top: 20px; 
    min-width: 300px;
}

.text-alignment-product {
    display: flex;
    flex-direction: column;
    align-self: start;
    padding-left: 65px;
    
}
    .Game-cover-img {
        display:block;
         margin:auto;
        height: 250px; 
        width: 212px;
    }

.flex-container-price {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
}



.add-to-cart-btn {
    display: flex;
    min-width: 200px;
    text-transform: uppercase;
    justify-content: center;
    font-size: 18px;
    font-family: "Dosis";
    font-weight: bold;
    border: #000 1px solid;
    padding: 10px;
    background-color: #1E2651;
    color: #FEA621;
    margin:20px auto; 
    box-shadow: 1px 1px grey;
    
}









/* testing grid */
.grid-container5 { 
    width: 1400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

.grid-item {
    background: #aaaaaa;
    
    
}

.griditem-1 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(17, 17, 17);
    grid-column-start: 1;
    grid-column-end: 5; 
    background-image: url(Images/Gamehub.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
    flex-direction: column;
    align-items: center;

}


.gamehub-header {
    color: white;
    font-family: "Dosis";
    font-weight: 600;
    font-size: 60px;
    
}

.salesheader {
    font-family: "Laila";
    font-weight: 600;
    color: #FEA621;
}

.header-btn {
    padding: 10px 200px;
    margin-bottom: 40px;
    font-family: "Raleway";
    border-radius: 5px;
    background-color: #1E2651;
    border:#FEA621 1px solid; 
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.griditem-1 p{
color: white;
font-size: 42px;

}

.griditem-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    grid-column-start: 1;
    grid-column-end: 3; 
}

.griditem-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 32px;
    background-color: #1E2651;
    background-image: url(Images/Gamehubpicture\ resize.png);
    
}

.h3header-marketplace {
    font-size: 32px;
    color: white;
}

.p-header-marketplace {
    font-size: 32px;
    color: white;
}


.griditem-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1E2651;
    grid-column-start: 3 ;
    grid-column-end: 5; 
}

.item-4 {
    padding-top: 75px;
    display: block;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-column-start: 1 ;
    grid-column-end: 5; 
}

.flex-item {
    flex-wrap: wrap;
    font-size: 14px;
    padding: 8px;
    border: black 1px solid;
    display: flex;
    flex-direction: column;
}