
/* general styling */

* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    font-family: "Raleway";
    margin: 0% auto; 
    overflow-x: hidden;

}

a {
    text-decoration: none;
    color: black;
    
}

a:hover {
    background-color: #e9eaee;
    border: solid 0px rgb(104, 100, 100);
}


/* Mini-header */



/* Header */

header {
    position: relative;
    background-color: #1E2651;
}

header img{
    height: 100px;
    align-self: center;
 
}

.account-text {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    align-self: center; 
}

.icon-sign::before {
padding-left: 14px;
}

.search {
   width: 500px;
   justify-content: center;
   height: 30px;
   align-self: center;
}

/* Navigation*/

header {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    
}

#header {
    display: flex;
    justify-content: space-around;
    align-content: center;
    

}

nav {
    position: absolute;
    display: none;
    

}

#menu-checkbox:checked ~ nav {
    display: block;

}

#navbar a {
    display: block;
    padding: 10px 30px 10px 30px;
    color:#1E2651;
    font-size: 16px;

}

#navbar {
    background: linear-gradient(
        to right,
        #1E2651 0%,
        #1E2651 90%,
        #FEA621 50%,
        #FEA621 100%
      );

}

nav {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    border: solid 2px #FEA621;
    color: black;
    background-color: #FEA621;


}

nav, 
#menu-checkbox {
    display: none;
    background-color: #1E2651;
    padding: 20px;
    
}



/* main page */



.buttonheader {
    width: 200px;
    color: white;
    background-color: red;
    text-align: 	center;
}

/* Main page 2nd element */


/* Divider homepage */

.flex-item {
    flex-wrap: wrap;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 16px; 
}


/* Contact page */

.contact-us-text {
    padding-top: 50px;
    width: 60%;
    margin: auto;
    font-family: "Raleway";
}

.contact-us-text h1  {
    border-bottom: #FEA621 6px solid;
    margin-bottom: 50px;
    font-family: "Raleway";
}


.form { 
    width: 60%;
    margin: auto;
    font-family: "Raleway";
    
}

#label {
    display: block;
    width: 80%;
    margin: 10px 0px 0px 0px; 
    font-family: "Raleway";
}

#label1 {
width: 50%;
background-color: #F8F5F5;
font-family: "Raleway";

}
#textarea { 
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 300px;
    background-color: #F8F5F5;
    font-family: "Raleway";
}

.submitbutton {
    float: right;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;

}

.submitbutton:hover {
    padding: 10px 30px 10px 30px;
    background-color: #1E2651;
    color: #FEA621;

}

/* about us page */

.aboutus-gamehub-office-img { 
    width: 100%;
}

/* Product pages */


.flex-container-games {
    width: 40vw;
    margin: 0 auto;
   
    
}

.header-games {
    margin-bottom: 0px;
    font-family: "Dosis";
    font-weight: 500;
}

.games-found {
    text-align: end;
    font-family:"Raleway";

}
.header-productpage-image {
    width: 40vw;
    
}

.flex-items {
    display: flex;
    width: 40vw;
    align-items: end;
    flex-wrap: wrap;
    border-bottom: #FEA621 solid 6px;
}

.nav-games-page {
    padding-top: 20px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;

}

.text-flex-width-adjustment-text1 {
    flex:1;
}
.text-flex-width-adjustment-text123 {
    flex: 1; 
}
.text-flex-width-adjustment-text45 {
    flex: 1;  
}
.text-flex-width-adjustment-text67 {
    flex: 0;
}


.category-text {
    width: 40vw;
    padding: 10px;
    border: solid 1px black;
}



.category-text:hover, .category-text1:hover  {
background-color: #aaaaaa;

}

.category-text:active, .category-text1:active  {
    background-color:#FEA621
    
    }
    
.container-productpage {
    width: 40vw;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 2rem;

}

.item-product-page {
    flex-direction: column;
    font-family: "Raleway";
    margin-top: 50px;
    border: solid 1px rgb(153, 153, 153);
    padding-top: 10px; 
}

.text-alignment-product {
    padding-left: 10px;
    
}
    .Game-cover-img {
        display:block;
        margin:auto;
        height: 250px; 
        min-width: 200px;
        
    }

.flex-container-price {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: "Dosis";
    justify-content: space-between;
    padding: 0 10px 0px 10px;
}

.price-new {
    color: green;
    text-transform: capitalize;
}

.price-used {
    color: grey;
    text-transform: capitalize;
}
.review-stars {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}
.add-to-cart-btn {
    display: flex;
    min-width: 200px;
    text-transform: uppercase;
    justify-content: center;
    font-size: 18px;
    font-family: "Dosis";
    font-weight: bold;
    border: #000 1px solid;
    padding: 10px;
    background-color: #1E2651;
    color: #FEA621;
    margin:20px auto; 
    box-shadow: 1px 1px grey;
    
}


/*  Product page  */
.product-page-container {
    width: 40vw;
    margin: auto;
    display: grid;
    grid-template-columns: 0.3fr 0.2fr 0.2fr 0.2fr; 
    padding-top: 30px;
}

.product-page-container h1 {
    margin: 0;
}
.review-stars-ylw {
    display: flex;
}

.game-category1, .game-category2, .game-category3 {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    background-color: #F6C30E;
    border: 1px solid black;
    width: 170px; 
}

.game-category1 {
    justify-content: center;
    align-self: flex-end;

    background-color: #F6C30E;
    border: 1px solid black;
    width: 50px; 
}
.container-product-page {
    display: grid; 
    width: 40vw;
    margin: auto;
    grid-auto-rows: 1fr; 
    grid-template-columns: 0.6fr 0.6fr 1fr 2.4fr; 
    grid-template-rows: 0.62fr 0.1fr 0.3fr 0.3fr; 
    gap: 10px 10px; 
    grid-template-areas: 
      "Space-war Trailer Trailer ."
      "Space-war Picture-1 Picture-2 ."
      "Features Features Add-to-cart ."
      "reviews reviews . ."
      "reviews reviews . ."; 
    align-items: stretch; 
  }
  .Space-war { grid-area: Space-war; }
  .Picture-2 { grid-area: Picture-2; }
  .Trailer { grid-area: Trailer; }
  .Picture-1 { grid-area: Picture-1; }
  .Add-to-cart { grid-area: Add-to-cart; }
  .Features { grid-area: Features; }
  .reviews { grid-area: reviews; }


.Add-to-cart {
    display: grid;
    padding-top: 10px;
    grid-template-rows: 0.1fr 0.3fr 0.3fr 0.1fr ;
    font-size: 22px;
    border: 1px solid rgb(209, 208, 208);
    text-align: start;
    box-shadow: 1px 1px 1px 1px rgb(173, 173, 173);
    font-family: "Raleway";
    height: 100%;
    margin-left: 10px;
    background-color: #f7efef;
    
}
.Add-to-cart label {
    width: 100px;

}

#Platform { 
    margin-left: 5px;
    width: 100px;
    align-self: center;
    text-align: center;
    
    
}

.Platformlabel {
    margin-left: 5px;
    font-size: 18px;
}

.addtocart-product {
    width:  400px;
    background-color: #0F9E2E;
    color: white;
    font-family: "Dosis";
    font-size: 28px;
    margin-left: 65px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.usedprice {
    color: lightgrey;
    font-weight: bold;
}

.newprice {
    color: green;
    font-weight: bold;
}
.reviews {
    border-top: 1px solid black;
}

.reviews h3, p {
    margin: 5px;
}

.reviewtext {
    background-color: #201D3E;
    color: white;
    margin-bottom: 30px;
}


/* testing grid */
.grid-container5 { 
    width: 1000px; 
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 100px 0.5fr;
    gap: 20px;
    
}

.grid-item {
    background: #aaaaaa;
    height: 250px;
}


/* content 1 */ 
.griditem-1 {
    display: flex;
    grid-column: 1/5;
    background-image: 
    linear-gradient(
      rgba(15, 15, 15, 0.5),
      rgba(63, 61, 61, 0.5)
    ),
    url(Images/Gamehub.jpg);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% contain;
    height: 400px;
    flex-direction: column;
    padding: 0%;
    text-align: center;
    flex-wrap: wrap;


}

.summerdeals{
    top: 150px;
    right: 400px;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0;
    
    }

.green-fifty {
    font-size: 28px;
    color: #00FF19;
    bottom: 128px;
    left: 446px;
    
    

}
.gamehub-header {
    color: white;
    font-family: "Dosis";
    font-weight: 700;
    font-size: 64px;
    -webkit-text-stroke: #1E2651 2px;
    text-transform: uppercase;
    margin: 20px;
}

.salesheader {
    top: 100px;
    font-size: 64px;
    font-family: "Laila";
    font-weight: 700;
    color: #FEA621;
    left: 521px;
    text-transform: uppercase;
}

.header-btn {
    padding: 10px 150px;
    font-family: "Raleway";
    border-radius: 5px;
    background-color: #f8f8f8;
    border:#FEA621 1px solid; 
    color: #FF0000;
    font-size: 24px;
    font-weight: 700;
    align-self: center;
}


/* content 2 */ 
.griditem-2 {
    flex-direction: column;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    height: 250px;
    font-size: 32px;
    background: linear-gradient(
        to right,
        pink 0%,
        #FEA621 100%,
        paleturquoise 50%,
        paleturquoise 100%
      );
    
}


.h3header-marketplace {
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 20px 0px 10px 25px;
    
}

.p-header-marketplace {
    font-size: 22px;
    color: rgb(10, 10, 10);
    padding-left: 40px;
    margin: 0px 0px 0px 20px;
}

.header-btn-content2 {
    width: 180px;
    height: 50px;
    background-color: #00D1FF;
    color: black;
    font-family: "Raleway";
    font-size: 18px;
    right: 168px;
    font-weight: 600;
    margin:20px 0px 0px 200px;

}

.header-btn-content2 :hover {
    width: 180px;
    height: 50px;
    background-color: #265E79;
    color: #F56CE7;
    font-family: "Raleway";
    font-size: 24px;

}

/* content 3 */ 

.header-btn-content3 :hover {
    width: 180px;
    height: 50px;
    background-color: #265E79;
    color: #F56CE7;
    font-family: "Raleway";
    font-size: 24px;
}

.griditem-3 {
    background-image: linear-gradient(
        rgba(10, 4, 4, 0.5),
        rgba(5, 5, 5, 0.5)
      ),url(Images/gamehubclub.jpg);
    background-size: 100%;
    grid-column: 3 / 5;
}


.h3header-club {
  color: white;
  font-size: 40px;
  margin: 0;
  margin:20px 0px 0px 25px;
}

.p-header-marketplace-content2 {
    margin: 0;
    color: white;
    padding-left: 40px;
    margin: 10px 0px 0px 0px;
    font-size: 22px;
}

.header-btn-content3 {
    width: 180px;
    height: 50px;
    background-color: #00D1FF;
    color: black;
    font-family: "Raleway";
    font-size: 18px;
    right: 168px;
    font-weight: 600;
    margin:20px 0px 0px 200px;

}


#Gamehub-yellow {
    color:#FEA621;
    font-weight: bold;
}

/* content 4 */ 

.item-4 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-column: 1 / 5;
    height: 80px;
}

/* content 5 */ 
.item-5 {
    margin-top: 25px; 
    background-image:  url(Images/Group\ 39.png);
    background-size: 100% ;
    height: 250px;
    grid-column-start:1;
    grid-column-end: 3; 
    
}

/* content 6 */ 
.item-6 {
    margin-top: 25px; 
    background-image: url(Images/Group\ 169.png);
    background-size: 100% ;
    height: 250px;
    grid-column: 3 / 5;
    
}

/* content 7 */ 
.item-7 {
    padding: 0;
    margin: 0;
    height: 36px;
    grid-column: 1 / 5;
    background-color: white;
    font-size: 32px;

    /*  <---------------content 8 and NEW GIRD ------------->  */ 
}
.grid-item8-container {
    width: 990px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    flex-direction: row;
    padding-bottom: 100px;
   
}

.item-8 {
    flex: 1; 
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    margin-top: 40px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 254, 254);

}
.item-8 img {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 1px 1px #c9c8c8;
    
}

.item-8 h4 {
margin: px;
font-size: 20px;

}
.item-8 p {
margin-bottom: 0px;
padding-bottom: 5px;
margin-top: 05px;
font-size: 16px;
}

.price-grid-item8 {
    padding: 10px;
    box-shadow: 0px 5px 1px 1px #c9c8c8;
    background-color: rgb(247, 247, 247);
}

footer {
    background-color: #D9D9D9;
    margin: 0;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

@media (max-width: 700px) {
    
body {
    font-size: 14px;
}

.flex-wrapper-deluxe {
    display: flex;
    flex-direction: column;
}

.grid-container5 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.02fr 0.1fr 0.1fr;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.search {
    width: 100%;
    display: none;
}   

.grid-item{
    padding: 0;
    margin: 0;
    height: 100%;

}
.grid-item1{
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 100%;
    }
.gamehub-header, .salesheader{
    margin: 0;
    font-size: 40px;
}

.green-fifty, .summerdeals {
    margin: 0;
    font-size: 20px;
}

    .griditem-3 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    background-position: center;
    text-align: center;
            
}
.griditem-3 h3 {
    padding-bottom: 20px;
}
       
.popularnowdivider { 
    margin: 0;
}

.header-btn {
    padding: 5px 10px; 
    width: 200px;
    margin-bottom: 10px;

}

.gamehub-header h1 {
    margin: 0;
}
#header { 
    display: flex;
    justify-content:flex-end;

}

.account-icons {
padding-right: 15px;

}

.account-text {
    justify-content: flex-start;
    
    }

.hamburger-icon {
    position: absolute;
    font-size: 32px;
    padding-left: 30px;
    top: 80px;
   
}

#logoheader {
    width: 100%;
}
#navbar {
    background-color: #FEA621;
}
#header {
    background-color: #FEA621;
}

#navbar a {
    color: white;
    background-color:#1E2651
}
.griditem-2 {
    display: none;
}

.griditem-3 p,.header-btn-content2 ,.header-btn-content3{
    display:none;

}

.item-4 {
    display:none;
}

.item-6 {
    display:none;
        
    
    }
    .item-5 {
        display:none;
             }

.grid-item8-container {
    margin-top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.28fr 0.28fr;
    
}

.item-8 img {
}

.item-8 {
    padding-bottom: 40px;
}

}

@media (min-width: 700px) {
    nav {
            display: block;
            position: static;
    
    
        }
        .hamburger-icon {
            display: none; 
        }

        nav {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px;
            border: solid 2px #FEA621;
            color: black;
            background-color: #FEA621;
        
    
    }
    #navbar a {
        color: black;
        background-color: #FEA621;
    }

    }

    .account-icons {
        padding-top: 80px;
        font-size: 30px;
        padding-right: 40px;
    }
    
    
     