
/* general styling */

* {
    box-sizing: border-box;
  }

body {
    width: 100%;
    font-family: "Raleway";
    margin: 0% auto; 
    overflow-x: hidden;

}

a {
    text-decoration: none;
    
    
}

#navbar a:hover {
    background-color: #1E2651;
    color: white;
}

.bold {
    font-weight: 600;

}
/* Header */

header {
    position: relative;
    background-color: #1E2651;
}


#header {
    display: grid;
    grid-template-columns: 0.2fr 0.25fr 0.9fr 0.1fr;

}

.logoheader{
    display: flex;
    height: 150px;
    padding-left: 50px;

 
}

.account-text {
    color: white;
    font-weight: 600;
    text-transform: capitalize;
}

.account-text-header {
display: flex;
grid-column: 4;

}
.icon-sign::before {
padding-left: 20px;
}

.search {
   width: 70%;
   margin: auto 0;
   grid-column: 3;

}

#search {
    width: 100%;
    height: 30px;
    background-image: url(Images/search-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
 }

 #searchhidden-label {
    display: none;
    user-select: none;
 }

/* Navigation*/

header {
    width: 100%;
    position: relative;

    
}



nav {
    position: absolute;
    display: none;
    

}

#menu-checkbox:checked ~ nav {
    display: block;
    

}

#navbar a {
    display: block;
    padding: 10px 30px 10px 30px;
    color:#1E2651;
    font-size: 16px;

}



nav {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    border: solid 2px #FEA621;
    color: black;
    background-color: #FEA621;


}

nav, 
#menu-checkbox {
    display: none;
    background-color: #1E2651;
    padding: 20px;
    
    
}



/* Contact page */

.contact-us-text {
    padding-top: 50px;
    width: 40%;
    margin: auto;
    font-family: "Raleway";
}

.contact-us-text h1  {
    border-bottom: #FEA621 6px solid;
    margin-bottom: 50px;
    font-family: "Raleway";
}


.form { 
    width: 40%;
    margin: auto;
    font-family: "Raleway";
    
}

.form input {
    width: 100%; 
    margin-bottom: 10px;
}


#textarea { 
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 300px;
    background-color: #F8F5F5;
    font-family: "Raleway";
}

#submitbutton {
    float: right;
    margin-top: 20px;
    padding: 10px 30px 10px 30px;
    background-color: lightgrey;
    color: black;
    font-weight: bold;

}

#submitbutton:hover {
    padding: 10px 30px 10px 30px;
    background-color: #1E2651;
    color: #FEA621;

}

/* about us page */

.aboutus-gamehub-office-img { 
    width: 100%;
}

.contact-us-text p {
    line-height: 20px;   /* within paragraph */
    margin-bottom: 20px; /* between paragraphs */
    }

    .contact-us-text h1{
        margin-bottom: 10px;
    }

/* Product pages */


.flex-container-games {
    width: 40vw;
    margin: 0 auto;
   
    
}

.header-games {
    margin-bottom: 0px;
    font-family: "Dosis";
    font-weight: 500;
}

.games-found {
    text-align: end;
    font-family:"Raleway";

}
.header-productpage-image {
    width: 40vw;
    
}

.flex-items {
    width: 40vw;
    align-items: end;
    border-bottom: #FEA621 solid 6px;
}

.games-found {
    font-size: 18px;
}


.nav-games-page {
    padding-top: 20px;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;

}

.text-flex-width-adjustment-text1 {
    flex:1;
}
.text-flex-width-adjustment-text123 {
    flex: 1; 
}
.text-flex-width-adjustment-text45 {
    flex: 1;  
}
.text-flex-width-adjustment-text67 {
    flex: 0;
}


.category-text {
    width: 40vw;
    padding: 10px;
    border: solid 1px black;
}



.category-text:hover, .category-text1:hover  {
background-color: #FEA621;
cursor:pointer;

}

    
.container-productpage {
width: 40vw;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
gap: 3rem;


}

.item-product-page {
    flex-direction: column;
    font-family: "Raleway";
    margin-top: 50px;
    box-shadow: 10px 10px 10px 10px rgb(233, 231, 231);
    background-color: #fff6f6;
    padding-top: 10px; 
    
}

.text-alignment-product {
    justify-content: center;
    text-align: center;
    
}

.text-alignment-product h2 {
    margin-top: 20px;
    margin: 10px;
    margin-left: 0px;
}

.text-alignment-product p {
    margin: 5px;
}
    .Game-cover-img {
        display:block;
        margin:auto;
        height: 250px; 
        min-width: 200px;
        
    }

.flex-container-price {
    display: flex;
    font-size: 18px;
    font-family: "Dosis";
    justify-content: center; 
    padding: 0 20px 0px 20px;
    line-height: 1;
    font-weight: bold;
    margin-top: 15px;
}

.Price {
    margin: 0;
    margin-right: 20px;
   
}

.price-new {
    color: green;
    text-transform: capitalize;
    font-family: "Dosis";
    font-size: 16px;
    
}

.price-used {
    color: #070707;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "Dosis";
} 

.review-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    color: #F6C30E;
    justify-content: center;
}

.review-number {
    color: black;
}

.add-to-cart-btn {
    display: flex;
   width: 80%;
    text-transform: uppercase;
    justify-content: center;
    font-size: 18px;
    font-family: "Dosis";
    font-weight: bold;
    border: #000 1px solid;
    padding: 10px;
    background-color: #1E2651;
    color: #FEA621;
    margin:10px auto; 
    box-shadow: 1px 1px grey;
    
}

.add-to-cart-btn:hover {
    background-color: #6b73a5;
    cursor:pointer;
}


/*  Product page  */
.container-product-page {
    padding-top: 50px;
    width: 990px;
    margin: auto;
    
}

.h1 {
   font-family: "Dosis";
   grid-row: 3;
}

.h1-space-wars {
    margin-bottom: 0;
}

.flex-container-product-page {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr;
    grid-template-rows: 1fr;

}

.Product-page-img img {
    width: 60%;
    height: 90%;
}

.Product-page-img {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    grid-column: 1;
    
} 

.Add-to-cart {
    grid-column: 2;
    grid-row: 1;
    font-size: 20px;
    margin: 0;
    font-family: "Dosis";
    background-color: #f7f7f7;
}

.checkbox-add-to-cart {
padding-top: 40px;
}

.Add-to-cart input{
height: 20px;
width: 20px;
}

#checkbox {
    margin-bottom: 10px;
}

.Platformlabel {
font-size: 16px;
}

#Platform {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
}

#Platform1 { 
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;

}

.Platformlabel { 
    display: block;
}

#Edition {
    padding-right: 11px;
    
}
.Add-to-cart p {
    font-size: 20px;
}

.newprice {
    color: #03c914;
    font-weight: bold;
}
.usedprice {
    text-transform:uppercase;
}

#releasedate-product-page {
    font-size: 16px;
    color: #807f7f;
}



#orderedb4 {
    font-family: "Raleway";
   font-size: 16px;
   font-weight: bold;
}

.addtocart-product {
    background-color: #0F9E2E;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "Dosis";
    padding: 0 50px;
}

.addtocart-product:hover { 
    background-color: #063d12;
    cursor: pointer;
   
}

.Game-category {
    display: grid;
    gap: 5px;
    grid-template-columns: 0.2fr 0.2fr 0.2fr;
}

.game-category1 , .game-category2 , .game-category3   {
    border: 1px solid black;
    background-color: #FEA621;
    text-align: center;
    color: rgb(2, 2, 2);
    margin-top: 5px;
}

.categories-text-productpage {
    color: #807f7f;
    margin-bottom: 0;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / 5;
    gap: 30px;
}


.grid-container-product-page {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 0.2fr 0.2fr 1fr;
}

.Features, .specifications, .reviews {
    grid-column: 1 /5;
}

.grid-item {
    background: #aaaaaa;
    height: 250px;
}

.reviews {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.reviews h3 {
margin-bottom: 0;
border-bottom: 3px solid black;
grid-column: 1 / 3;
}

#input-review, #input-review2, #input-review3 {
    display: block;
    width: 50%;
    margin-bottom: 10px;
}



.breakline-review {
    padding-top: 20px;
    display: block;
    font-weight: normal;
}
.Willem-review {
    grid-column: 1;
    grid-row: 2;
    border: 3px solid black;
    font-weight: bold;
    padding: 5px;
    border-top: 0;
    border-left: 0;
    }

.Ronnie-review {
grid-column: 2;
grid-row: 2;
border: 3px solid black;
border-top: 0;
font-weight: bold;
border-left: 0;
}
.contact-us-form {
   grid-row: 4;
   grid-column: 1 / 3 ;
   
}
/* Homepage */
.grid-container5 { 
    width: 1000px; 
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    
}

.buttonheader {
    width: 200px;
    color: white;
    background-color: red;
    text-align: 	center;
}



/* Divider homepage */

.flex-item {
    flex-wrap: wrap;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 16px; 
}



/* content 1 */ 
.griditem-1 {
    display: flex;
    grid-column: 1/6;
    background-image: 
    linear-gradient(
      rgba(15, 15, 15, 0.5),
      rgba(63, 61, 61, 0.5)
    ),
    url(Images/Gamehub.jpg);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% contain;
    height: 400px;
    flex-direction: column;
    padding: 0%;
    text-align: center;
    flex-wrap: wrap;
    


}

.summerdeals{
    top: 150px;
    right: 400px;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0;
    
    }

.green-fifty {
    font-size: 28px;
    color: #00FF19;
    bottom: 128px;
    left: 446px;
    
    

}
.gamehub-header {
    color: white;
    font-family: "Dosis";
    font-weight: 700;
    font-size: 64px;
    -webkit-text-stroke: #1E2651 2px;
    text-transform: uppercase;
    margin: 20px;
}

.salesheader {
    top: 100px;
    font-size: 64px;
    font-family: "Laila";
    font-weight: 700;
    color: #FEA621;
    left: 521px;
    text-transform: uppercase;
}

.header-btn {
    padding: 10px 150px;
    margin-top: 20px;
    font-family: "Raleway";
    border-radius: 5px;
    background-color: #f8f8f8;
    border:#FEA621 1px solid; 
    color: #FF0000;
    font-size: 24px;
    align-self: center;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgb(71, 70, 70);
}

.header-btn:hover {
    background-color: #696969;
    color: #00D1FF;
    border:#bf11eb 1px solid; 
}
    

/* content 2 */ 
.griditem-2 {
    flex-direction: column;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    height: 250px;
    font-size: 32px;
    background: linear-gradient(
        to right,
        rgb(96, 5, 138) 0%,
        #FEA621 100%,
        rgb(133, 10, 182) 50%,
        paleturquoise 100%
      );
    
}


.h2header-marketplace {
    font-size: 40px;
    font-weight: 700;
    color: rgb(253, 253, 253);
    margin: 20px 0px 10px 25px;
    
}

.p-header-marketplace {
    font-size: 22px;
    color: rgb(252, 250, 250);
    padding-left: 40px;
    margin: 0px 0px 0px 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.header-btn-content2 {
    background-color: #00D1FF;
    padding: 10px 30px;
    color: black;
    font-size: 18px;
    margin:0px 0px 50px 200px;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgb(161, 4, 148);
    

}

.header-btn-content3:hover, .header-btn-content2:hover {
    background-color: #265E79;
    color: #F56CE7;

}

/* content 3 */ 

.griditem-3 {
    background-image: linear-gradient(
        rgba(10, 4, 4, 0.5),
        rgba(5, 5, 5, 0.5)
      ),url(Images/gamehubclub.jpg);
    background-size: 100%;
    grid-column: 3 / 6;
}


.h2header-club {
  color: white;
  font-size: 40px;
  margin: 0;
  margin:20px 0px 0px 25px;
}

.p-header-marketplace-content2 {
    margin: 0;
    color: white;
    padding-left: 40px;
    margin: 10px 0px 0px 0px;
    font-size: 22px;
    padding-bottom: 30px;
}

.header-btn-content3 {
    background-color: #00D1FF;
    padding: 10px 30px;
    color: black;
    font-size: 18px;
    margin:0px 0px 50px 200px;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 600;
    box-shadow: 1px 1px 1px 1px rgb(161, 4, 148);
}


#Gamehub-yellow {
    color:#FEA621;
    font-weight: bold;
}

/* content 4 */ 

.item-4 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    grid-column: 1 / 6;
    height: 80px;
}

/* content 5 */ 
.item-5 {
    position: relative;
    flex-direction: column;
    margin-top: 25px; 
    background-size: 100% ;
    height: 250px;
    grid-column-start:1;
    grid-column-end: 3; 
    background-color: black;
    
    
}
.item-5 p {
    color: white;
    padding-left: 20px;
    
}
.item-5 h3 {
    padding-top: 20px;
    color: white;
    font-size: 38px;
    margin: 0px 0px 20px 20px;
    font-size: 600;
    
}
.item-5 p {
    margin: 0;
    font-size: 16px;
    line-height: 10px; 
    margin-bottom: 20px;
    margin-left: 10px;
}

.item-5-coming-soon-p {
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}

.releasedate-color {
    color: red;
}
.racing-image-item5 {
    position: absolute;
    right: 10px;
    top: 25px;
    height: 200px;
}

.Racing-preorder-btn {
    background-color: #00D1FF;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    margin-left: 150px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px 1px white;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 600;
}

.PC-btn:hover, .Racing-preorder-btn:hover {
background-color: #265E79;
    color: #F56CE7;
}

/* content 6 */ 
.item-6 {
    margin-top: 25px; 
    height: 250px;
    grid-column: 3 / 6;
    background-image: linear-gradient(
        rgba(34, 33, 33, 0.8),
        rgba(2, 2, 2, 0.8)
      ), url(Images/Computerpicture-gamehub.jpg);
      background-size: 120%;
      background-position: center;

}

.item6-h3 {
    color: white;
    font-size: 38px;
    margin: 20px 0px 20px 20px;
    font-size: 600;
}


.item-6 p{
    font-size: 18px;
    margin: 0;
    padding-left: 40px;
    color: white;
}

.color-p-item6 {
    color: #F56CE7;
    font-size: 24px;
}

.PC-btn {
    background-color: #00D1FF;
    margin: 30px 0px 0px 250px;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    border: solid white 1px;
    box-shadow: 1px 1px 1px 1px white;
    text-transform: uppercase;
    font-family: "Dosis";
    font-weight: 600;
}

/* content 7 */ 
.item-7 {
    padding: 0;
    margin: 0;
    height: 36px;
    grid-column: 1 / 5;
    background-color: white;
    font-size: 26px;
    grid-column: 1/6;
}
.popularnowdivider {
    margin-top: 0;
}
    /*  <---------------content 8 and NEW GRID ------------->  */ 

.grid-item8-container {
    width: 990px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    flex-direction: row;
    padding-bottom: 100px;
   
}

.item-8 {
    flex: 1; 
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    background-color: rgb(255, 254, 254);

}

.item-8:hover {
    border-top: 5px #FEA621 solid;
    
}
.item-8 img {
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 1px 1px #c9c8c8;
    
}

.item-8 h4 {
margin: 10px;
font-size: 20px;
color: black;


}
.item-8 p {
margin-bottom: 0px;
padding-bottom: 5px;
margin-top: 05px;
font-size: 16px;
font-weight: bold;
font-size: 	18px;
color: #201D3E;
}

.price-grid-item8 {
    padding: 10px;
    box-shadow: 0px 5px 1px 1px #c9c8c8;
    background-color: rgb(247, 247, 247);
}

.hidden-item8 {
    display: none;
}

.grid-container-6 {
    display:grid;
    width: 990px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    height: 250px;
    gap: 20px;
}

.review-coins-item9 { 
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    background: linear-gradient(
        to left,
        rgb(96, 5, 138) 0%,
        #FEA621 100%,
        rgb(133, 10, 182) 50%,
        paleturquoise 100%
      );
      
}

.review-coins-item9 p, .forum-item10 p {
font-weight: 600;
}

.forum-item10 {
    color: white;
    width: 100%;
    background-size: 100%;
    text-align: center;
    background-image: linear-gradient(
        rgba(10, 4, 4, 0.5),
        rgba(5, 5, 5, 0.5)
      ),url(Images/unplash-forumimg.jpg);
}

.forum-btn {
    margin-top: 28px;
}

/* ---------------- CART ------------------- */

.Cart-page-container {
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 0.2fr 0.8fr;
    grid-template-rows: 1fr 250px 250px 250px;
    

    
}

.Cart-page-container p {
    margin: 5px;
}
#h1-cart {
    margin-top: 50px;
    border-bottom: 4px solid #FEA621;
    grid-column: 1 / 6;
}
.Cart-item {
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    border: rgb(155, 155, 155)  1px solid;
    border-right: 0px;
    grid-row: 2;
    grid-column: 1;
    border-radius: 10px 0px 0px 10px;
    background-color: rgb(247, 247, 247);
}

.Cart-item h2 {
    margin-left: 20px;
}

.digitalcopy-text, .money {
    font-size: 18px;
    font-weight: normal;
}
.cart-item-text {
   padding-top: 75px;
   border: rgb(155, 155, 155)  1px solid;
   border-left: 0px;
   border-radius: 0px 10px 10px 0px;
   background-color: rgb(247, 247, 247);

}

.Cart-item  img {
    width: 120px;
    height: 150px;
}

.text-color-new {
    color: green;
    font-weight: bold;
}

.Cart-item-price-container {
    display: flex;
    justify-content: center;
    background-color:#D9D9D9;
    grid-column: 4 / 6;
    border-radius: 10px 10px 0px 0px;
    gap: 30px;

}

.cart-item-price-numbers {
    padding-top: 70px;
    text-decoration: underline;
    
}

.cart-item-price-text {
    padding-top: 17px;
    text-decoration: underline;
}

.btn-summary-checkout {
    width: 100%;
    grid-column: 4/6;
}
#btn-summary-checkout {
    display: flex;
    padding: 10px 75px; 
    font-size: 26px;
    font-family: "Dosis";
    background-color: rgb(255, 0, 0);
    justify-content: center;
    text-transform: uppercase;
    color: white;
    border-radius: 0px 0px 10px 10px;
    border: black  2px solid;
}

#btn-summary-checkout:hover {
    background-color: #5c0f0f;
    cursor: pointer;
}

.delivery-payment { 
    grid-row: 3;
    grid-column: 1/6;
}

.delivery-payment h2 {
    margin-top: 5px;
}
#Checkbox-delivery {
    margin-left: 0%;
}

#Checkbox-delivery input {
    margin-left: 0%;
}
#label-deliveryname, #label-delivery, #label-delivery2 {
    display: block;
    width: 400px;
}
.Delivery-form {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

#return-btn-cart {
grid-row: 3;
padding: 10px; 
}

#return-btn-cart input {
width: 80px;
}





/* ---------------- Delivery ------------------- */

.container-delivery {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 1fr 0,8fr 1fr 1fr;

}

.container-delivery h1 {
    
    margin-top: 30px;
    grid-column: 1 / 6;
    border-bottom: 4px #FEA621 solid;
}

.delivery-payment {
    grid-row: 2; 
    grid-column: 1 /2;
    margin: auto;
    width: 100%;
}


.billing-details {
    grid-row: 3;
    grid-column: 1; 
    width: 100%;
}
.Delivery-form { 
    width: 80%;
    
    
}
.Shipping-method {
    grid-column: 1;
    grid-row: 4;

   
}


.payment-method {
    width: 100%;
    grid-row: 5;
    }


.label-delivery-payment, .label-delivery-payment-cardholder {
    display: block;
    width: 100%;
}
    

#label-delivery-payment-margin-logo {
    margin-bottom: 20px; 
}

#return-btn input{
    width: 100px;
}

.payment-btn-back-complete { 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    grid-row: 7;
    
}

#payment-btn {
    padding: 3px 10px;
    align-items: center;
    background-color: #201D3E;
    font-size: 16px;
    color: #FEA621;
    font-weight: 600;
    border: solid 1px black;
    cursor: pointer;
}
#payment-btn:hover {
   background-color: #FEA621;
   color: #201D3E;
}

.Checkbox-addres-delivery {
    padding-top: 10px;
}
#orderedb4-delivery {
    font-weight: bold;
}

/* ---------------- Order-completed ------------------- */
.Order-completed {
    padding-top: 100px;
    display: grid;
    width: 50%;
    margin: auto;
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 300px;
    
}

.Order-completed button {
width: 60%;
padding: 10px 15px;
align-content: center;
margin: 20px auto;
background-color: green;
color: white;
background-color: black 1px solid;
}

.Order-completed button:hover {
    background-color: rgb(2, 54, 2);
}


/* ---------------- footer ------------------- */


footer {
    background-color: #D9D9D9;
    margin: 0;
    margin-top: 100px;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
     
}
footer p { 
    color: black;
}






@media (max-width: 1100px) {

    body {
        width: 100%;
        font-size: 16px;
    }
    

    
    .flex-container-games, .container-productpage, .contact-us-text, .form, .flex-items {
        width: 80%;
        margin: auto;
        
    }
   
    .flex-items {
        width: 80%;
        margin: auto;
    }
    .nav-games-page {
        width: 100%;
    }
    .Image-games-productpage img{ 
        display:none;
    
    }
    .flex-wrapper-deluxe {
        width: 95%;
        margin: auto;
    }

    .grid-container5 {
        width: 100%;
    }

    .racing-image-item5 {
        width: 25%;
        height: 50%;
        top: 0;
    }

    .grid-container-6 { 
        width: 100%;
    }

    .grid-item8-container {
        width: 100%;
        grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr;
        gap: 0px
    }
.price-grid-item8 {
    width :100%;
    margin: auto;
}

.item-8 img {
    width: 100%
}
    
}


@media (max-width: 900px) {

body {
    width: 100%;
    font-size: 14px;
}

.flex-container-games, .container-productpage, .flex-items, .contact-us-text, .form, .container-product-page, .Cart-page-container,  .container-delivery, .Order-completed { 
    width: 80%;
    padding: 0%;
    margin: auto;
}

#search {
    display: none;
    
}   


#header { 
    grid-template-columns: 0.1fr 0.9fr 0.1fr;
    align-items: center;
    

}

.logoheader{
    height: 100px;
   padding-left: 30px;
   
    
}

#logoheader {
    grid-column: 2/3;
    justify-content: center;
    margin: auto;
}


.account-icons {
font-size: 24px;
padding-right: 10px;

}

.fa-cart-shopping {
    padding-left: 10px;
}

.account-text {
    font-size: 10px;
    text-transform: capitalize;
    text-align: center;
    padding-left: 5px; 
    
    
}

.account-text-header {
    grid-column: 3;
    grid-row: 1;
}

.hamburger-icon {
    position: absolute;
    font-size: 32px;
    padding-left: 30px;
    top: 30px;
    color: white;
}

#hidden-menu {
    display: none;
}


#navbar {
    background-color: #FEA621;
}
#header {
    background-color: #1E2651;
}

#navbar a {
    color: white;
    background-color:#1E2651
}

    /*---------------- Homepage ------------ Media queries 900px */


    .flex-wrapper-deluxe {
        padding-bottom: 150px;
    }
    .grid-container5 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.05fr 0.1fr 0.1fr;
        width: 100%;
        
    }

.grid-item{
    padding: 0;
    margin: 0;
    height: 100%;

}
.grid-item-1{
    width: 100%;
    padding: 0%;
    margin: 0%;
    height: 200px;
    }
.header-btn {
    font-size: 14px;
    text-transform: uppercase;
}

.gamehub-header, .salesheader{
    margin: 0;
    font-size: 56px;
}

.green-fifty, .summerdeals {
    margin: 0;
    font-size: 20px;
}
.griditem-2 {
    width: 100%;
    width: 100%;
    height: 100%;
    grid-column: 1 / 6;
    background-position: center;
    text-align: center;
    height: 200px;
    
}

.griditem-2 p{
    padding: 10px;
    margin: 0;
    color:white;
    
}

.griditem-2 h2{
    font-size: 32px;
    padding: 20px 0 0px 0;
    margin: 0px 0px 5px 0px;
    
}

    .griditem-3 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 6;
    background-position: center;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    border: solid 5px #F6C30E; 
            
}
.griditem-3 h2 {
    padding-bottom: 20px;
    margin-left: 0;
    font-size: 32px;
    
   
}
       
.popularnowdivider { 
    margin: 0;
    font-size: 20px;
}

.header-btn {
    padding: 5px 10px; 
    width: 200px;
    margin-bottom: 10px;

}

.gamehub-header h1 {
    margin: 0;
}

.header-btn-content2 {
    margin: 0;
    margin-top: 20px;
    width: 100px;
    font-size: 14px;
    height: 30px;
    
}

.griditem-3 p,.header-btn-content3{
    display:none;

}

.item-4 {
    display:none;
}

.item-6 {
    display:none;
        
    
    }
    .item-5 {
        display:none;
             }

.grid-item8-container {
    margin-top: 0;
    width: 100%;
    margin: auto;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    padding-bottom: 20px;
}

.item-8 {
    margin: auto;
    padding-bottom: 20px;
    width: 100%;
    
}

.item-8 img {
    width: 100%;
    
}

.hidden-item8 {
    display:grid;
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 20px 20px;
    background-color: rgb(255, 254, 254);

}
.grid-container-6 {
    width: 100%;
    grid-template-columns: 1fr 1fr;
   
}

.review-coins-item9 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 5;
    text-align: center;
}

.forum-item10 {
width: 100%;
height: 100%;
 grid-row: 2; 
 grid-column: 1 / 5;
 text-align: center;
}

.coin-btn {
    margin: 0px;
    margin-bottom: 50px;
}

.forum-btn {
    margin: 0px;
margin-bottom: 50px;
}

.Cart-item-price-container {
    grid-row: 3 / 4 ; 
    grid-column: 1;
    margin: 0;
}

.btn-summary-checkout {
    width: 100%;
    grid-column: 1/6;
    grid-row: 5;
    margin: 0;
    padding: 0;
}

footer {
    margin-top: 150px;
}
/*---------------- Contact us ------------ Media queries 900px*/
.contact-us {
    margin-bottom: 20px;
}

/*---------------- Product page ------------ Media queries 900px */

.flex-container-product-page {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr;
    row-gap: 20px;
    
}

.Product-page-img {
    margin-top: 10px;
}
.Product-page-img img {
    width: 60%;
    height: 90%;
}

.Add-to-cart {
    padding: 0px 0px 20px 20px;
    grid-row: 3; 
    grid-column: 1 /3;

}
.h1 {
    grid-row: 2;
}
.h1-space-wars {
    margin: 0;
}





.container-product-page {
    width: 95%;
}



/*---------------- CART ------------ Media queries 900px */
.Cart-page-container {
    width: 95%;
    margin: auto;
}

.Cart-item {
    border: 1px solid black;
    border-radius: 0px;
    width: 100%;
    text-align: center;
    grid-column: 1 / 6;
    justify-content: center;
}

.digitalcopy-text {
    display: block;
}

.money {
    font-weight: 600;
}

.cart-item-text {
    grid-row: 3;
    grid-column: 1 / 6;
    border: 1px solid; 
    border-radius: 0px;
    text-align: center;


}
.Cart-item-price-container {
    grid-row: 4 ; 
    grid-column: 1 / 6;
    border-radius: 0px;
    margin-left: 0; 
    padding-left: 0;
    
}

#btn-summary-checkout {
   margin: auto;
 
   
}

#btn-summary-checkout {
   margin: auto;
}

#return-btn-cart {
    grid-row: 7;
    padding: 40px 0px; 
    margin: 0;
    }

}

@media (max-width: 599px) {
/*---------------- Homepage ------------ 599px Media queries*/

.nav-games-page {
    width: 100%;
}

.gamehub-header, .salesheader {
    font-size: 40px;
    
}

.summerdeals {
    font-size: 16px;
}

.green-fifty {
    padding-top: 10px;
    font-size: 14px;
    
}

.h2header-marketplace {
    font-size: 28px;
}

.p-header-marketplace {
    font-size: 16px;
}


    .grid-item8-container {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        
    }
    
    .item-8 {
        padding-bottom: 30px;
    
    }
.Item8-image { 
    width: 100%;
    height: 70%;
    
}

.container-product-page {
    width: 95%;
}

.Cart-page-container {
    width: 95%;
    margin: auto;
}

.Cart-item {
    border: 1px solid black;
    border-radius: 0px;
    width: 100%;
    justify-content: flex-start;
}

.cart-item-text {
    border: 1px solid; 
    border-radius: 0px;
    text-align: left;
}
.Cart-item-price-container {
   
    border-radius: 0px;
    width: 100%;
    
}

.flex-container-games, .contact-us-text, .form, .flex-items {
    width: 95%;
    margin: auto;
    
}

.item-product-page {
    margin-top: 10px;
}
.text-flex-width-adjustment-text67 {
    display: none;
}

.container-delivery {
    width: 95%;
    margin: auto;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.1fr 0.6fr 0.4fr 0.2fr 0.2f;
   
} 

.delivery-payment {
    grid-column: 1;
}

.billing-details {
    grid-row: 3;
    grid-column: 1 ;
    
}

.container-delivery h1 {
    grid-column: 1;
} 


#orderedb4 {
    font-size: 14px;
}

.flex-wrapper-deluxe {
    padding-bottom: 150px;
}

.Order-completed button { 
    width: 100%;
}





.Delivery-form { 
    margin: auto;
}

footer {
    font-size: 12px;
}
}




@media (min-width: 900px) {
    nav {
            display: block;
            position: static;
            
    
    
        }
        .hamburger-icon {
            display: none; 
        }

      

        nav {
            display: flex; 
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0px;
            border: solid 2px #FEA621;
            color: black;
            background-color: #FEA621;
        
    
    }
    #navbar a {
        color: black;
        background-color: #FEA621;
    }

    

    .account-icons {
        padding-top: 50px;
        font-size: 30px;
        padding-right: 40px;
        
    }
    
    
}